body {
    font-family: 'Arial', sans-serif;
    background-color: #191414;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color:rgb(13, 128, 182);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: none; /* No glow by default */
    transition: box-shadow 0.3s ease-in-out; 
}

.form-container:hover {
    box-shadow: 0 0 20px 4px rgba(18, 113, 129, 0.637); /* More blurred, subtle glow effect on hover */
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0ca1e6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e7ed7;
}

p {
    margin-top: 15px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
